openapi: 3.0.2
info:
  version: 1.0.0
  title: Task-Challange
  termsOfService: ''
  contact:
    email: mghossain.42@gmail.com
    url: 'http://localhost'
  license:
    name: Not Licensed
    url: '/'
  x-logo:
    url: 'https://redocly.github.io/openapi-template/logo.png'
  description: >
    This is Web App that utilizes Laravel/PostgreSQL as backend and ReactJs as frontend.

    # Introduction

    Task-challange is a Web App that manages Customers and verify
     their phone numbers using a number valiation API.

    [Laravel](https://laravel.com/) is used to build the RESTful APIs and serves as the back-end.


    [PostgreSQL](https://www.postgresql.org/) is used as the database management system.


    [Reactjs](https://reactjs.org/is) is used as the frontend library for demonstrating the API's functionalities.


    It also demonstrates features of the
    [numverifyAPI](https://apilayer.com/marketplace/number_verification-api) API.

    # Task-challange Specification

    The goal of The Task-Challange is to build, and render
    an interface to managing customers' REST APIs .


    This documentation contains references to all the APIs used, testing
    these APIs as well as the functionalities and behaivior.

tags:
  - name: NumverifyAPI
    description: Example NumverifyAPI operations
  - name: CustomerAPI
    description: Operations about CustomerAPI
servers:
  - url: 'https://api.apilayer.com/number_verification/validate?number=number'

paths:
  /{customer}:
    $ref: 'paths/users@{username}.yaml'
  /NumverifyAPI:
    $ref: paths/echo.yaml
components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://example.com/api/oauth/dialog'
          scopes:
            'show:customers': show all customers
            'write:user': modify or remove customer
            'add:customer': add a customer
    api_key:
      type: apiKey
      in: header
      name: api_key
    #basic_auth:
      #type: http
      #scheme: basic
